# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Conda/Python environments
env/
venv/
*.conda
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Dataset and downloads
dataset/
downloads/

# YOLO runs
runs/
*.pt

# Logs
*.log